body { margin-bottom: 75px; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif; text-align: center; font-size: 16px; }
img { display: block; margin: auto; max-height: 320px; }
#content { text-align: left; }
html { position: relative; min-height: 100%; height: 100%; }
h1 { font-size: 30px; line-height: 64px; }
.footer { position: absolute; bottom: 0; width: 100%; height: 60px; padding-top: 20px; background-color: #f6f7f9;}
.bigger { font-size: 20px; line-height: 44px; }
.jumbotron { background-image: linear-gradient(to top, #fdc284, #f2783c); color: #ffffff; }
.inline-button-1 { padding: 0px; text-decoration: none; color: #fff; line-height: 16px; }
.inline-button-2 { padding: 0px; text-decoration: none; color: #666; line-height: 16px; }
.inline-button-1:hover { padding: 0px; text-decoration: none; color: #666; line-height: 16px; }
.inline-button-2:hover { padding: 0px; text-decoration: none; color: #f2783c; line-height: 16px; }