@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
body { font-family: Lato, sans-serif; text-align: center; }
hr.style3 { border-top: 1px dashed #ddd; border-bottom: 0px dashed #8c8b8b; max-width: 40%; }
img { display: block; margin: auto; width: 320px; height: auto; }
#content { margin: 30 auto; text-align: center; }
.limitWidth { display: block; margin: auto; max-width: 550px; }