@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
body { margin-bottom: 75px; font-family: 'Roboto', sans-serif; text-align: center; font-size: 16px; }
img { display: block; margin: auto; max-height: 320px; }
#content { text-align: left; }
html { position: relative; min-height: 100%; height: 100%; }
h1 { font-size: 30px; line-height: 64px; }
.footer { position: absolute; bottom: 0; width: 100%; height: 60px; padding-top: 20px; background-color: #f6f7f9;}
.bigger { font-size: 20px; line-height: 44px; }
.jumbotron { background-image: linear-gradient(to top, #fdc284, #f2783c); color: #ffffff; }
.inline-button { margin-left: 15px; padding-left: 20px; padding-right: 20px; padding-top: 5px; padding-bottom: 5px; object-fit: contain; border-radius: 66px; background-color: #fe763a;  }
.inline-button a { padding: 0px; text-decoration: none; color: #fff; line-height: 16px; }