@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
body { font-family: Lato, sans-serif; font-size: 16px; width: 140px; height: 208px; text-align: center; }
.buttonlink { margin-top: 5px; padding: 5px; color: #000; display: block; text-decoration: none; }
.smaller { font-size: 11px; }
a { background-color: #eee; border: 1px solid #ccc; font-size: 13px; }
a:hover { background-color: #ccc; }