@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
body { margin-bottom: 75px; font-family: 'Roboto', sans-serif; text-align: center; font-size: 16px; }
img { display: block; margin: auto; max-height: 320px; }
html { position: relative; min-height: 100%; height: 100%; }
h1 { font-size: 30px; line-height: 64px; }
h1 a, h1 a:link, h1 a:active, h1 a:visited { color: #fff; }
h1 a:hover { color: #fdc284; }
.bigger { font-size: 20px; line-height: 44px; }
.jumbotron { background-image: linear-gradient(to top, #fdc284, #f2783c); color: #ffffff; }
.whitelinks a, .whitelinks a:link, .whitelinks a:active, .whitelinks a:visited{color: #fff; text-decoration: none;}
.whitelinks a:hover{color: #DA6273; text-decoration: none;}
a, a:link, a:active, a:visited{color: #DA6273; text-decoration: none;}
a:hover{color: #fdc284; text-decoration: none;}